.swiper-button-prev,
.swiper-button-next {
    color: #ff6600 !important;

}

.swiper-pagination-bullet {
    width: 16px !important;
    height: 16px !important;
    transition-duration: .3s;
    background: white !important;
    opacity: 1 !important;
}

.swiper-pagination-bullet-active {
    background: #ff6600 !important;
    width: 20px !important;
    height: 20px !important;
}

@media screen and (max-width: 1024px) {
    .swiper-button-prev,
    .swiper-button-next {
        display: none !important;
    }
}