.swiper-button-prev,
.swiper-button-next {
    color: #ff6600 !important;
}

.swiper-pagination-bullet-active {
    background: #ff6600 !important;
}

@media screen and (max-width: 1024px) {
    .swiper-button-prev,
    .swiper-button-next {
        display: none !important;
    }
}