
.MuiToggleButton-secondary {
    background: white !important;
    border-radius: 24px !important;
    color: black !important;
    min-width: 80px !important;
}

.MuiToggleButton-secondary:hover {
    background: #ff6600 !important;
    transition-duration: .5s;

}

.MuiToggleButton-root.Mui-selected {
    background: #ff6600 !important;
    border-radius: 24px !important;
}